:root {
  --principal: #1c1c1c;
  --subtitle: #8a8a8a;
  --background: #ffffff;
}

* {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  background-color: var(--background);
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.subContainer {
  display: flex;
}

.mainContainer {
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  position: relative;
  transition: width 0.5s ease;
}

.quote-container {
  width: 60%;
  position: relative;
}

#quote {
  font-size: 4em;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s;
  text-align: justify;
  color: var(--principal);
}

.infoContainer {
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#author {
  font-size: 2em;
  opacity: 1;
  transition: opacity 0.5s;
  color: var(--subtitle);
}

#category {
  font-size: 2em;
  opacity: 1;
  transition: opacity 0.5s;
  color: var(--subtitle);
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  height: 2.5em;
  transition:
    filter 0.5s,
    opacity 0.5s,
    transform 0.1s;
  margin-left: 40px;
  position: relative;
}

.icon-button svg:hover path {
  fill: var(--subtitle);
}

.icon-button svg path {
  fill: var(--principal);
}

.icon-button:active {
  transform: scale(0.9);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5em;
}

.copy-feedback {
  position: absolute;
  top: 40px;
  padding: 5px 10px;
  background-color: var(--principal);
  color: var(--background);
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.5s;
  white-space: nowrap;
  font-size: 15px;
}

svg {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: fill 1s;
  cursor: pointer;
}

#quoteID {
  visibility: hidden;
}

#configButton {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 42px;
  width: 42px;
}

#developedBy {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: var(--subtitle);
}

#configButton svg path {
  fill: var(--principal);
}

#configButton svg:hover path {
  fill: var(--subtitle);
}

a {
  text-decoration: none;
  color: var(--principal);
  font-weight: bold;
}

#configButton:hover {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.configContainer * {
  background-color: var(--principal);
  color: var(--background);
}

.configContainer {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: var(--principal);
  height: 100vh;
  width: 0%;
  left: 0;
  transition: width 0.5s ease;
}

.customColorContainer {
  display: flex;
}

.customColorContainer .colorPicker input[type='color'] {
  cursor: pointer;
}

.colorPicker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorPicker input[type='color'] {
  width: 6em;
  height: 4em;
  border: none;
}

.configSubtitle {
  color: var(--background);
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 0.5em;
  white-space: nowrap;
}

.configurationDivision {
  text-align: center;
  justify-content: center;
  margin-top: 2em;
  padding: 1em;
}

.color-container {
  display: flex;
  width: 8em;
  height: 3em;
  border: 1px solid var(--background);
  transition: transform 0.4s ease;
}

.mainColorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
}

.color-container:hover {
  transform: scale(1.2);
}

.color-section {
  flex: 1;
}
